{{#each list}}
  <div
    id="{{this.id}}"
    class="reqContainer reqContainer-{{this.method}}"
    onclick="handleSelectRequest(this)"
  >
    <div class="methodName method-{{this.method}}">{{this.method}}</div>
    <div>{{this.url}}</div>
  </div>
{{/each}}